name: Docker Publish

on:
  push:
    branches: [ main ]
    tags:
      - '*'

jobs:
  docker_publish:
    # run workflow only on numaproj/numaflow-java repository
    if: ${{ github.repository }} == "numaproj/numaflow-java"
    name: Build, Tag, and Push Image
    runs-on: ubuntu-latest

    strategy:
      matrix:
        execution_ids: [
          "mapt-event-time-filter-function", "flat-map-stream", "map-flatmap",
          "even-odd", "simple-sink", "reduce-sum", "reduce-stream-sum",
          "map-forward-message", "reduce-counter", "sideinput-example",
          "udf-sideinput-example", "source-simple-source", "session-reduce-count"
        ]

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Quay.io registry
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.NUMAIO_USERNAME }}
          password: ${{ secrets.NUMAIO_PASSWORD }}
      - name: Build, tag, and push images
        run: ./hack/update_examples.sh --build-push-example ${{ matrix.execution_ids }}
